body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
}

.navbar {
    background-color: #111827;
    padding: 15px;
}

.navbar a {
    color: white;
    text-decoration: none;
    margin-right: 20px;
    font-weight: bold;
}

.navbar a.active {
    color: #38bdf8;
}

.container {
    padding: 30px;
}

.team {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
}

.card {
    background: white;
    width: 300px;
    padding: 20px;
    border-radius: 10px;
}

.card img {
    width: 100%;
    border-radius: 10px;
}
